name: Matrix Demo
on: push
jobs:
  build:
    strategy:
      matrix:
        node-version: [21, 24]
        os: [ubuntu-latest, window-latest]
    runs-on: ${{matrix.os}}
    steps:
      - name: Get code
        uses: actions/checkout@v4
      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: ${{matrix.node-version}}
      - name: Install deps
        run: npm ci
      - name: Build project
        run: npm run build
